.Navbar {
  width: 100%;
  top: 0;
  position: fixed;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.Navbar__netflix {
  height: 2.5rem;
}
.Navbar__avatar {
  height: 3rem;
  margin-right: 2rem;
  cursor: pointer;
}
.Navbar-background {
  background-color: #111;
}
.title{
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  color: #3ea5e9;
}
